<h2>hello, <%= current_user.username %></h2>

<div class="container">
  <table class="table text-center">
     <% @campground.each_slice(3) do |campgrounds| %>
       <tbody>
           <% campgrounds.each do |campground| %>
             <td><%= image_tag("#{campground.picture}") %><br><%= link_to "#{campground.name}", campground_path(campground) %></td>
           <% end %>
       </tbody>
     <% end %>
  </table>
</div>



<button class="btn"><%= link_to 'Edit Your Profile', edit_user_registration_path %></button>
