<div class="container" style="">
  <form class="search-submit img-overlay text-center"  action="/" method="get">
    <div class="search ">
      <div class="input-group input-group-lg lead" >
        <input type="text" id="search-input" class="searchTerm form-control " placeholder="Where do you want to go camping?">
        <span class="input-group-btn ">
        <button type="submit" class="btn btn-lg  ">
        <i class="fa fa-search"></i>
        </button>
        </span>
      </div>
    </div>
  </form>
</div>


<div class="container">
  <div>
    <div class="row">
      <div class="col-md-8">
        <div id='map-container' class="iframe-container "></div>
      </div>
      <div id="add-campgrounds" class="col-md-4"></div>
    </div>
  </div>
</div>

<script id='campground-list' class="col-md-4 " type="x-tmpl-mustache">
  <li class="each-campground-list">
    <a class="a-tags" href="campgrounds/{{ name }}">{{ name }}</a>
    <p>{{ formatted_address }}</p>
     <p>{{ rating }}</p>
     <img src="{{ photos[0]}}">
  </li></br>
</script>
