<div class="container" style="">
  <form class="search-submit img-overlay text-center"  action="/" method="get">
    <div class="search ">
      <div class="input-group input-group-lg lead" >
        <input type="text" id="search-input" class="searchTerm form-control " placeholder="Where do you want to go camping?">
        <span class="input-group-btn ">
        <button type="submit" class="btn btn-lg  ">
        <i class="fa fa-search"></i>
        </button>
        </span>
      </div>
    </div>
  </form>
</div>



<div class="container">
  <div>
    <div class="row">
      <div class="col-md-8">
    <script>
        <div id='map-container' class="iframe-container "></div>
        createmarker(<%=campground.lat%>)
        </script>
      </div>
      <div id="add-campgrounds" class="col-md-4"></div>
    </div>
  </div>
</div>



<div id='campground-list' class="col-md-4 " type="x-tmpl-mustache">
<%@campgrounds.each do |campground|%>
  <li class="each-campground-list"><%=link_to "#{campground.name}"%> </li>
<%end%>
</div>
