<div class="container" style="">
  <form class="search-submit img-overlay text-center"  action="/" method="get">
    <div class="search ">
      <div class="input-group input-group-lg lead" >
        <input type="text" id="search-input" class="searchTerm form-control " placeholder="Where do you want to go camping?">
        <span class="input-group-btn ">
        <button type="submit" class="btn btn-lg  ">
        <i class="fa fa-search"></i>
        </button>
        </span>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <div class="col-lg-8 col-md-8 col-sm-8 col-md-offset-2">
    <div id="map-container" class="iframe-container"></div>
</div>
