<h1>Whoops! It looks like this might be a state or national park without specific details from our database.</h1>

<p>Sorry about that. We're working on filling in the gaps. Feel free to <%=link_to "go back", root_path%> and search for another campground!</p>
