<h1>Whoops!</h1>

<h2>It looks like <i><%=@campground.name%></i> might be a state or national park without specific details from our database.</h2>

<p>Sorry about that. We're working on filling in the gaps. Feel free to <%=link_to "go back", root_path%> and search for another campground!</p>
