<div class="container-flex">
  <div class="row">
    <div class="header">CG NAME</div>
  </div>
  <div class="row">
    <div class="pictures container"> Pictures go here </div>
  </div>
</div>

<div class="row">
<div class="detail container col-md-8">HIIII
  <!-- Add a new row for each attribute. col-md-12 will default to filling out the parent container -->
  </div>
  <div class="map container col-md-4">HIII
  <!-- Add a new row for each attribute. col-md-12 will default to filling out the parent container -->
  </div>
</div>


