@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*
#map {
  height: 100%;

}
 Optional: Makes the sample page fill the window.
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*/





html, body{
font-family: 'Encode Sans', sans-serif;
  background: #C8D6AF;
}

#map {
  width: 98%;
  height: 400px;
  border-radius:6px;
  border: 1px solid gray;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{


    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
}

.item {
background: #f3f1e5; /* Old browsers */
background: -moz-linear-gradient(top, #f3f1e5 0%, #efeddf 40%, #eae7d6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f3f1e5 0%,#efeddf 40%,#eae7d6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f3f1e5 0%,#efeddf 40%,#eae7d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f1e5', endColorstr='#eae7d6',GradientType=0 ); /* IE6-9 */
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 5px;
}
.center-cropper-title {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}
.no-split {
 display: inline-block;
}

.rounded {
  border-radius: 10%;
  box-shadow: 2px 2px 2px gray;
}

.center-cropped {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}

.info-block {
  color: #305C36;
  text-shadow: 2px 2px 2px gray;
}

.each-campground-list{
  list-style: none;
  border-bottom: solid gray;
  padding: 10px;
}

#add-campgrounds{
  overflow-y: scroll;
  height: 450px;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 10px;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

/*------------BEGIN NAVBAR AND COLOR CUSTOMIZATION-------------------*/

.navbar-default {
  background-color: #f3f1e5;
  border-color: #c8d6af;
}
.navbar-default .navbar-brand {
  color: #305c36;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #305c36;
}
.navbar-default .navbar-text {
  color: #305c36;
}
.navbar-default .navbar-nav > li > a {
  color: #305c36;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #305c36;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #f3f1e5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #305c36;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #305c36;
  background-color: #c8d6af;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #c8d6af;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #305c36;
  background-color: #c8d6af;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #305c36;
  background-color: #c8d6af;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #305c36;
  background-color: #c8d6af;
}
.navbar-default .navbar-toggle {
  border-color: #c8d6af;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c8d6af;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #305c36;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #305c36;
}
.navbar-default .navbar-link {
  color: #305c36;
}
.navbar-default .navbar-link:hover {
  color: #305c36;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #305c36;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #305c36;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #305c36;
    background-color: #c8d6af;
  }
}

