@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*
#map {
  height: 100%;

}
 Optional: Makes the sample page fill the window.
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*/

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{


    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.center-cropper-title {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}
.no-split {
 display: inline-block;
}

.center-cropped {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}

.each-campground-list{
  list-style: none;
  border: solid black;
  padding: 10px;
}

#add-campgrounds{
  overflow-y: scroll;
  height: 450px;
}

.container{
  border: 1px 1px solid black;
}
