@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*
#map {
  height: 100%;

}
 Optional: Makes the sample page fill the window.
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*/





body{
font-family: 'Encode Sans', sans-serif;
background: #fefefd; /* Old browsers */
background: -moz-linear-gradient(top, #fefefd 0%, #dce3c4 42%, #aebf76 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fefefd 0%,#dce3c4 42%,#aebf76 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fefefd 0%,#dce3c4 42%,#aebf76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#aebf76',GradientType=0 ); /* IE6-9 */
}

#map {
  width: 98%;
  height: 400px;
  border-radius:6px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{


    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 5px;
  background: #f3f1e5; /* Old browsers */
background: -moz-linear-gradient(top, #f3f1e5 0%, #efeddf 40%, #eae7d6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f3f1e5 0%,#efeddf 40%,#eae7d6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f3f1e5 0%,#efeddf 40%,#eae7d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f1e5', endColorstr='#eae7d6',GradientType=0 ); /* IE6-9 */
}

.center-cropper-title {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}
.no-split {
 display: inline-block;
}

.center-cropped {
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}

.each-campground-list{
  list-style: none;
  border: solid black;
  padding: 10px;
}

#add-campgrounds{
  overflow-y: scroll;
  height: 450px;
}
